@mixin transparent() {
  background: transparent none;
  border: none;

  &:focus {
    border: none;
    outline: none;
  }
}

@mixin light-border($color) {
  background: transparent none;
  border-color: $color;
  border-width: 3px;
  border-style: solid;
}
