@mixin transparent() {
  background: transparent none;
  border: none;

  &:focus,
  :hover {
    border: none;
    outline: none;
  }
}

@mixin light-border($color) {
  background: transparent none;
  border: 3px solid $color;
}
