$bad-script-font: 'Bad Script', cursive;

$yellowPostIn: #FFFFA5;
$orangePostIn: #FFE8A3;

$smallPadding: 10px;
$smallResPadding: 2%;
$mediumResPadding: 4%;
$fullScreenContentWidth: 98%;

$mobileEnd: 767px;
$tabletStart: 768px;
$desktopStart: 992px;
