@import "_variables";
@import "_mixins";

.n-note {
  &__header {
    background-color: $orangePostIn;
  }

  &__textarea {
    width: 100%;
    height: 100%;
    resize: none;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    max-lines: 2;
  }

  &__textarea--transparent {
    @include transparent();
  }

  &__input {
    width: 80%;
    height: 100%;
    resize: none;
  }

  &__input--transparent {
    @include transparent();
  }

  &--yellow {
    background-color: $yellowPostIn;
  }
}

.mdl-card {
  &__supporting-text {
    padding-right: 60px;
    padding-bottom: 60px;
  }

  &__actions,
  &__title {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
