@import "_variables";
@import "_mixins";

.c-md-card {
  background-color: $yellowPostIn;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;

  &__header {
    background-color: $orangePostIn;
    width: 100%;
  }

  &__title {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-left: $smallPadding;
    padding-right: $smallPadding;
    padding-top: $smallPadding;
  }

  &__textarea {
    width: 100%;
    height: 100%;
    resize: none;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    max-lines: 3;
    padding-left: $smallPadding;
    padding-right: $smallPadding;
    padding-top: $smallPadding;

    &--transparent {
      @include transparent();
    }
  }

  &__input {
    width: 75%;
    height: 100%;
    resize: none;
    display: inline;
    font-size: 2em;

    &--transparent {
      @include transparent();
    }
  }

  &__btn {
    width: 10%;
    display: inline;
  }

  &__actions,
  &__title {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-left: $smallPadding;
    padding-right: $smallPadding;
  }
}
