<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--5-col mdl-cell--2-col-tablet mdl-cell--1-col-phone"></div>
  <div class="mdl-cell mdl-cell--2-col mdl-cell--8-col-tablet mdl-cell--10-col-phone">
    <h1 class="no-extra">
      {{title}}
    </h1>
  </div>
</div>
<app-notes-list>loading...</app-notes-list>
<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-button--fixed
               no-extra">
  <i class="material-icons">add</i>
</button>
