<md-sidenav-container class="c-sidenav">
  <md-sidenav #sidenav mode="over" class="c-sidenav__list">
    <h3>Notes app</h3>
    <a md-button class="c-sidenav__anchor" [routerLink]="['/notes']">
      <i class="material-icons">note</i>
      Remaining</a>
    <a md-button class="c-sidenav__anchor" [routerLink]="['/notes', 'starred']">
      <i class="material-icons">star</i>Starred</a>
    <a md-button class="c-sidenav__anchor" [routerLink]="['/notes', 'done']">
      <i class="material-icons">done</i> Done</a>
    <a md-button class="c-sidenav__anchor" [routerLink]="['/notes', 'trash']">
      <i class="material-icons">delete</i> Trash</a>
    <a md-button class="c-sidenav__anchor" [routerLink]="['/about']">
      <i class="material-icons">info</i> About</a>
    <a md-button class="c-sidenav__anchor" href="https://github.com/Bartosz-D3V/Notes-App">
      <i class="material-icons">people</i> Fork me on Github</a>
  </md-sidenav>
  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.toggle()">
      <md-icon class="md-24">menu</md-icon>
    </button>
  </md-toolbar>
  <router-outlet></router-outlet>
</md-sidenav-container>
