<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-button--fixed
               no-extra" id="show-dialog" (click)="showModal()">
  <i class="material-icons">add</i>
</button>
<dialog class="mdl-dialog">
  <h4 class="mdl-dialog__title">{{title}}</h4>
  <div class="mdl-dialog__content">
    <p>
      Allowing us to collect data will let us get you the information you want faster.
    </p>
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button">Add</button>
    <button type="button" class="mdl-button close" (click)="closeModal()">Close</button>
  </div>
</dialog>
