$yellowPostIn: #FFFFA5;
$orangePostIn: #FFE8A3;

.n-note {

  &__star {
  }
  &__header {
    background-color: $orangePostIn;
  }
  &--yellow {
    background-color: $yellowPostIn;
  }
}

.mdl-card {

  &__supporting-text {
    padding-right: 20px !important;
  }
  &__actions, &__title {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
