h1 {
  &.no-extra {
    font-size: 5em;
    font-family: 'Bad Script', cursive;
  }
}

h2 {
  &.no-extra {
    font-size: 3em;
    font-family: 'Bad Script', cursive;
  }
}

p {
  &.no-extra {
    font-size: 2em;
    font-family: 'Bad Script', cursive;
  }
}
