@import "_variables";

h1 {
  &.no-extra {
    font-size: 5em;
    font-family: $bad-script-font;

    &--center {
      text-align: center;
    }
  }
}

h2 {
  &.no-extra {
    font-size: 3em;
    font-family: $bad-script-font;
  }
}

p {
  &.no-extra {
    font-size: 2em;
    font-family: $bad-script-font;
  }
}

textarea {
  &.no-extra {
    font-size: 2vw;
    font-family: $bad-script-font;
  }
}
